.menu {
  margin-top: 30px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.fixed {
      margin: 0 auto;
      max-width: 1280px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 100;
      background-color: #fff;
      padding: 5px 10px;
      transition: .5s ease-in-out;
    }

    .menu__nav {
      &-list {
        display: flex;
        li {
          margin-right: 20px;
          a {
            font-size: 15px;
            line-height: 15px;
            color: #000;
          }
        }
        li:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .menu {
    &__wrapper {
      padding: 0px 5px;
      .menu__nav {
        &-list {
          flex-wrap: wrap;
          
        }
      }
    }
  }
}

