@import "../../../style/colors.scss";

.card__food {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  height: 450px;
  margin-top: 40px;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 10px;

  &:hover {
    background-color: rgba($color: $accent-color, $alpha: 0.6) ;
    transition: all .5s ease-in-out;
  }

  &-img {
    margin: 0 auto;
    img {
      width: 280px;
    }
  }

  &-down {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
