.basket__wrapper {
  min-height: 66.5vh;

  .basket__title {
    display: flex;
    justify-content: space-between;
  }

  .basket__btn {
    display: flex;
    justify-content: space-between;
  }

  h1,
  h2 {
    margin: 30px 0;
  }
}
