@import "../../../style/colors.scss";

.header {
  margin-top: 30px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__wrapper-left {
    display: flex;

    .header__logo {
      display: flex;
      justify-content: flex-start;
      margin-right: 65px;
      &-img {
        line-height: 0;
        img {
          height: 50px;
          width: 50px;
          background-repeat: no-repeat;
          margin-right: 30px;
        }
      }

      &-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-main {
          font-size: 22px;
          line-height: 22px;
          text-transform: uppercase;
          font-weight: bold;
        }

        &-subtitle {
          font-size: 16px;
          line-height: 16px;
        }
      }
    }

    .header__delivery {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 65px;
      &-title {
        font-size: 18px;
        line-height: 18px;

        span {
          color: $accent-color;
        }
      }

      &-time {
        font-size: 15px;
        line-height: 15px;
        position: relative;

        &::after {
          content: "";
          background-image: url("../../../assets/img/star.svg");
          width: 20px;
          height: 20px;
          position: absolute;
          top: -6px;
          right: 115px;
        }
      }
    }

    .header__phone {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-title {
        font-size: 22px;
        line-height: 22px;
        font-weight: bold;
      }
      &-subtitle {
        font-size: 15px;
        line-height: 15px;
        color: $grey-text;
        opacity: 0.8;
      }
    }
  }
}

.header__enter {
  button {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 900px) {
  .header__wrapper {
    .header__wrapper-left {
      .header__logo,
      .header__delivery {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 800px) {
  .header__wrapper {
    .header__wrapper-left {
      flex-direction: column;
      .header__logo,
      .header__delivery,
      .header__phone {
        padding: 5px 5px;
      }
      .header__delivery {
        &-time {
          &::after {
            top: -5px;
            right: 196px;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .header__delivery {
    &-time {
      &::after {
        display: none;
      }
    }
  }
}
