* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", -apple-system, system-ui, sans-serif;
    outline: none;
    text-decoration: none;
    list-style: none;
  }

  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
  }
  